blinker
click
contourpy
cycler
Flask
Flask-FontAwesome
fonttools
greenlet
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mlxtend
mysql-connector-python
numpy
packaging
pandas
Pillow
plotly
psycopg2-binary
pyparsing
python-dateutil
pytz3
scikit-learn
scipy
six0
SQLAlchemy5
sqlalchemy-cockroachdb
tenacity
threadpoolctl
typing_extensions
tzdata
Werkzeug
