 <header>
        <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary bg-light shadow-lg d-flex justify-content-between" data-bs-theme="light">
         
            
            <a class="navbar-brand ps-3" href="{{url_for('index')}}">
              <img src="https://46dcabee-b52e-4e53-bf2a-d33ba4c023d7-00-1nx2vzmqo6urv.janeway.replit.dev/static/9.png" alt="Logo" width="40" height="40" class="d-inline-block align-center m-0">
            <span class="align-middle h3" style="color: #FB8240">Basket Boost</span> 
            </a>
            <form class="d-flex" method='post' action="{{url_for('search')}}" role="search">
              <input class="form-control me-2" name='searchtext' type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
            <a href="{{ url_for('logout') }}" class="btn btn-dark text-end me-3">Logout</a>
        </nav>
      </header>